doctype html
html
    head
        meta(charset="utf-8")

        link(rel="stylesheet", type="text/css", href="css/style.css")

        if includeTests
            link(rel="stylesheet", type="text/css", href="lib/jasmine-2.1.3/jasmine.css")
            script(src="lib/jasmine-2.1.3/jasmine.js")
            script(src="lib/jasmine-2.1.3/jasmine-html.js")
            script(src="lib/jasmine-2.1.3/custom-boot.js")

        script(data-main="scripts/main", src="lib/require.js")
        title CSS Color Picker




    body
        h1 CSS Color Picker
        .appContainer


            .cssProperty(data-css-property="backgroundColor")

                h2 Background

                .colorValue(data-value-type="hex")
                    label Hex
                    div(role="spacer")
                    input(type="text", maxlength="6")
                .colorValue(data-value-type="red")
                    label Red
                    input(type="range", min="0", max="255", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="blue")
                    label Blue
                    input(type="range", min="0", max="255", step="1")
                    input(type="text", maxlength="3")

                .colorValue(data-value-type="hue")
                    label Hue
                    input(type="range", min="0", max="255", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="saturation")
                    label Saturation
                    input(type="range", min="0", max="356", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="lightness")
                    label Lightness
                    input(type="range", min="0", max="356", step="1")
                    input(type="text", maxlength="3")



            .cssProperty(data-css-property="color")

                h2 Foreground

                .colorValue(data-value-type="hex")
                    label Hex
                    div(role="spacer")
                    input(type="text", maxlength="6")
                .colorValue(data-value-type="red")
                    label Red
                    input(type="range", min="0", max="255", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="blue")
                    label Blue
                    input(type="range", min="0", max="255", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="alpha")
                    label Alpha
                    input(type="range", min="0", max="100", step="1")
                    input(type="text", maxlength="3")

                .colorValue(data-value-type="hue")
                    label Hue
                    input(type="range", min="0", max="255", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="saturation")
                    label Saturation
                    input(type="range", min="0", max="356", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="lightness")
                    label Lightness
                    input(type="range", min="0", max="356", step="1")
                    input(type="text", maxlength="3")
                .colorValue(data-value-type="alpha")
                    label Alpha
                    input(type="range", min="0", max="100", step="1")
                    input(type="text", maxlength="3")



            .colorSample

                h2 Color Sample
                .exampleText
                    h3 Example Heading
                    p
                         | This is example text. This is example text.
                         | This is example text. This is example text.
                         | This is example text. This is example text.
                         | This is example text. This is example text.
                         | This is example text. This is example text.
                         | This is example text. This is example text.
                         | This is example text. This is example text. 



            .validationSection

                h2.validationSection
                p.validationOutput
