body {
  text-align: center;
}

.appContainer {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.readout {
  border: 1px solid black;
  padding: 5px;
}

.exampleText {
  max-width: 200px;
  padding: 5px;
  border: 1px solid black;
}