html {
  font-size: 16px;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../lib/raleway-semibold-webfont.eot'),
         url('../lib/raleway-semibold-webfont.woff2') format('woff2'),
         url('../lib/raleway-semibold-webfont.woff') format('woff'),
         url('../lib/raleway-semibold-webfont.ttf') format('truetype'),
         url('../lib/raleway-semibold-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  text-align: center;
  font-family: ralewaymedium;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

label {
  font-size:  1.25rem;
}

a {
  text-decoration: none;
}

.appContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}


.appContainer > div {
  padding: 1rem;
}

input[type="text"] {
  font-size: 1rem;

  &:focus {
    outline-width: 2px;
    outline-offset: -2px;
    outline-style: solid;
  }
}

label {
  display: block;
}


.colorValue {
  display: flex;
  flex-flow: row nowrap;
  width: 30rem;
  text-align: start;

  & > * {
    margin: 0 1rem;
    display: inline-block;
    box-sizing: border-box;
  }
  & > :first-child   { width: 25%; }
  & > :nth-child(2)  { width: 50%; }
  & > :last-child    { width: 25%; }
}


input {
  display: block;
  margin: 2px 0px;
  width: 5rem;
}


.exampleText {
  max-width: 200px;
  padding: 5px;
  border: 1px solid black;
}


.validationOutput {
  border: 1px solid black;
  width: 200px;
  min-height: 50px;
}


[role = "spacer"] {
  height: 9px;
}

[data-value-type] + [data-value-type] {
  padding-top: 0.5rem;
}