body {
  text-align: center;
}

.appContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

input[type="text"] {
  font-size: 16px;

  &:focus {
    outline-width: 2px;
    outline-offset: -2px;
    outline-style: solid;
  }
}

label {
  display: block;
}

.colorValue {
  display: flex;
  flex-flow: row nowrap;
  width: 20rem;
  text-align: start;

  & > * { 
    margin: 0 0.5rem;
    display: inline-block;
    box-sizing: border-box;
  }
  & > :first-child   { width: 25%; }
  & > :nth-child(2)  { width: 50%; }
  & > :last-child    { width: 25%; }
}

input {
  display: block;
  margin: 2px 0px;
  width: 100px;
}


.exampleText {
  max-width: 200px;
  padding: 5px;
  border: 1px solid black;
}

.validationOutput {
  border: 1px solid black;
  width: 200px;
  min-height: 50px;
}

[role = "spacer"] {
  height: 9px;
}