body {
  text-align: center;
}

.appContainer {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

input[type="text"] {
  font-size: 16px;
}

label {
  display: block;
}

.colorValue {
  column-count: 3; 
}



input {
  display: block;
  margin: 2px 0px;
  width: 100px;
  break-inside: avoid;
}

.exampleText {
  max-width: 200px;
  padding: 5px;
  border: 1px solid black;
}

.validationOutput {
  border: 1px solid black;
  width: 200px;
  min-height: 50px;
}

[role = "spacer"] {
  height: 9px;
}