@media (min-width: 1201px)
    html
        font-size 1vw

@media (max-width: 1200px)
    html
        font-size 12px


@font-face
    font-family 'ralewaymedium'
    src url('../lib/raleway-semibold-webfont.eot'),
         url('../lib/raleway-semibold-webfont.woff2') format('woff2'),
         url('../lib/raleway-semibold-webfont.woff') format('woff'),
         url('../lib/raleway-semibold-webfont.ttf') format('truetype'),
         url('../lib/raleway-semibold-webfont.svg#ralewaymedium') format('svg')
    font-weight normal
    font-style normal


// variables
textPadding = 1rem


body
    text-align center
    font-family ralewaymedium

h1
  font-size: 3rem

h2
  font-size 2rem

label
  font-size  1.25rem

a
    text-decoration none


.appContainer
    display flex
    flex-flow row wrap
    justify-content space-around
    align-items flex-start



.appContainer > div
    padding 1rem
    width 30rem


input[type="text"]
    font-size 1rem
    &:focus
      outline-width 0.25rem
      outline-offset -0.25rem
      outline-style solid

label
    display block

.colorValue
    display flex
    flex-flow row nowrap
    width 30rem
    text-align start
    & > *
        margin 0 1rem
        display inline-block
        box-sizing border-box
    & > :first-child
        width 25%
    & > :nth-child(2)
        width 50%
    & > :last-child
        width 25%

input
    display block
    margin 0.25rem 0
    width 5rem

.exampleText
    text-align justify
    padding textPadding
    border 0.2rem solid black

.validationOutput
    border 0.2rem solid black
    min-height 5rem
    padding textPadding

[data-value-type] + [data-value-type]
    padding-top 0.5rem
